@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Playfair+Display&display=swap");

h1 {
  font-family: "Playfair Display", serif;
}

h2 {
  font-family: "Playfair Display", serif;
}

h3 {
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Inter", sans-serif;
}
main {
  font-family: "Inter", sans-serif;
  margin: 20px;
}

nav {
  display: block;
  position: relative;
  margin: 0 auto;
  /* max-width: 760px; */
  background-color: #020a72;
  font-family: "Inter", sans-serif;
  /* justify-content: center; */
  white-space: nowrap;
}

.navigation {
  list-style: none;
  padding: 0;
}

.navigation li:first-child {
  display: block;
}
.navigation li {
  display: none;
}
.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: 700;
}
.navigation a:hover {
  color: #010544;
  background-color: #4e57d8;
}

.active {
  background: #020da0;
  text-decoration: underline;
}

.responsive li {
  display: block;
}

.buttons {
  display: flex;
}
.buttons div {
  margin: 0px 10px;
  cursor: pointer;
}
.buttons div > * {
  pointer-events: none;
}

section {
  border: solid 3px black;
  margin: 3px 3px 3px 3px;
  padding: 4px 4px 4px 4px;
  background-color: white;
  /*  min-height: 350px;
  min-width: 215px;*/
}

section h2 {
  color: rgb(52, 52, 134);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  color: rgb(52, 52, 134);
}

/*-----------------------------------------grid switch--------------------------------------------------------*/

.buttons {
  display: flex;
}
.buttons div {
  margin: 0px 10px;
  cursor: pointer;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  color: #010544;
}
.wrapper.list {
  grid-template-columns: 1fr;
}
.wrapper .col {
  background: #010544;
  display: flex;
  margin: 10px;
}

.wrapper .col img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 40px;
}

.wrapper.list img {
  display: none;
}
.wrapper.list section {
  border: none;
  color: white;
  background-color: #010544;
}
.wrapper.list section h2 {
  color: white;
}
/*-----------------------------------------grid switch--------------------------------------------------------*/

footer {
  background-color: #020a72;
  color: white;
}
#footertext {
  padding: 20px 20px 20px 20px;
}

#footerbar {
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 10px;
  border-top: 5px solid black;
}

@media only screen and (min-width: 42em) {
  #navwrapper {
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
  }

  nav {
    position: unset;
    top: auto;
    right: auto;
  }
  .navigation {
    display: flex;
  }
  .navigation li {
    display: block;
    flex: 1 1 auto;
  }
  .navigation a {
    text-align: center;
  }
  .navigation li:first-child {
    display: none;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  footer {
    margin: auto;
  }
}

@media only screen and (min-width: 60em) {
  #navwrapper {
    /*  margin: 0 auto; */
    padding: 0;
    max-width: 100%;
  }

  nav {
    position: unset;
    top: auto;
    right: auto;
    position: sticky;
  }

  .navigation {
    display: flex;
  }
  .navigation li {
    display: block;
    flex: 1 1 auto;
  }
  .navigation a {
    text-align: center;
  }
  .navigation li:first-child {
    display: none;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }

  footer {
    clear: both;
    margin: auto;
  }
  #footertext {
    text-align: left;
  }

  #footercontainer {
    display: flex;
    justify-content: space-around;
  }

  #socialmedialinks {
    display: inline;
    float: right;
  }
}
