@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Playfair+Display&display=swap");

h1 {
  font-family: "Playfair Display", serif;
  padding: 20px;
}

h2 {
  font-family: "Playfair Display", serif;
}

h3 {
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Inter", sans-serif;
}
main {
  font-family: "Inter", sans-serif;
}

nav {
  display: block;
  position: relative;
  margin: 0 auto;
  /* max-width: 760px; */
  background-color: #020a72;
  font-family: "Inter", sans-serif;
  /* justify-content: center; */
  white-space: nowrap;
}

.navigation {
  list-style: none;
  padding: 0;
}

.navigation li:first-child {
  display: block;
}
.navigation li {
  display: none;
}
.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: 700;
}
.navigation a:hover {
  color: #010544;
  background-color: #4e57d8;
}

.active {
  background: #020da0;
  text-decoration: underline;
}

.responsive li {
  display: block;
}

hr {
  color: #020a72;
}

/*_______________________________________pop up bar______________________________________________*/

.ShowHide {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #882c26;
  color: #ffffff;
  padding: 4px;
}
#weatheralert {
  overflow: hidden;
  padding: 5px;
}
#closebutton {
  float: right;
  width: 30px;
  height: 20px;
  text-align: center;
}
.ShowHide a {
  color: #ffffff;
  text-decoration: none;
}
.ShowHide a:hover {
  text-decoration: underline;
}

/*_________________________________________________________________________________________________*/

footer {
  background-color: #020a72;
  color: white;
}
#footertext {
  padding: 20px 20px 20px 20px;
}

#footerbar {
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 10px;
  border-top: 5px solid black;
}
/*----------------------------------------------------------------------------------*/

#weathercontainer {
  /* max-width: 800px; */
  margin: auto;
  width: 50%;
}

.threedayforcastimg {
  width: 50px;
  height: 50px;
  display: block;
  flex: 0 0 auto;
  margin: 10px;
}

#forecastimages {
  display: flex;
  height: 80px;
  width: 100%;
  justify-content: space-between;
  padding-top: 10px;
}

#forecastimagestitles {
  display: flex;
  height: 20px;
  width: 100%;
  justify-content: space-between;
  padding-top: 10px;
}

.threedayforcastimgtitle {
  width: 50px;
  height: 20px;
  display: block;
  /*flex: 0 0 auto;*/
  margin: 10px;
  text-align: center;
}

#forecastimagesdegrees {
  display: flex;
  height: 30px;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}

.threedayforcastimgdegrees {
  width: 50px;
  height: 20px;
  display: block;
  /*flex: 0 0 auto;*/
  margin: 0px 10px 0px 10px;
  text-align: center;
}

#weatherbackgroundcolor {
  background-color: #030c24;
  color: white;
  padding: 10px;
}
/*------------------------------------------------------------------------------------------*/

.municipalityimgs {
  display: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding: 10px;
  grid-column: 2;
}

#upcomingeventstitle {
  margin-top: 2px;
  padding: 10px;
}

#upcomingeventstext {
  padding: 10px;
}

.upcomingeventscards {
  background-color: white;
  color: #030c24;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.cardsevents {
  background-color: white;
  color: #030c24;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.upcomingeventscards p {
  padding: 10px;
}
.upcomingeventscards h3 {
  padding: 10px;
}

#calltoaction {
  background-color: #030c24;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

#calltoaction a {
  color: white;
}

#shortweatherbox {
  padding: 0px 0px 0px 10px;
}

@media only screen and (min-width: 42em) {
  #navwrapper {
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
  }

  nav {
    position: unset;
    top: auto;
    right: auto;
  }
  .navigation {
    display: flex;
  }
  .navigation li {
    display: block;
    flex: 1 1 auto;
  }
  .navigation a {
    text-align: center;
  }
  .navigation li:first-child {
    display: none;
  }

  .upcomingevents {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #upcomingeventstitle {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  footer {
    margin: auto;
  }
}

@media only screen and (min-width: 60em) {
  #navwrapper {
    /*  margin: 0 auto; */
    padding: 0;
    max-width: 100%;
  }

  nav {
    position: unset;
    top: auto;
    right: auto;
    position: sticky;
  }

  .navigation {
    display: flex;
  }
  .navigation li {
    display: block;
    flex: 1 1 auto;
  }
  .navigation a {
    text-align: center;
  }
  .navigation li:first-child {
    display: none;
  }

  .upcomingevents {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #upcomingeventscards {
    grid-row-start: 2;
    grid-row-end: 3;
    max-width: 90%;
  }
  #upcomingeventstitle {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  footer {
    clear: both;
    margin: auto;
  }
  #footertext {
    text-align: left;
  }

  #footercontainer {
    display: flex;
    justify-content: space-around;
  }

  #socialmedialinks {
    display: inline;
  }
  #imgcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
