@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Playfair+Display&display=swap");

h1 {
  font-family: "Playfair Display", serif;
}

h2 {
  font-family: "Playfair Display", serif;
}

h3 {
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Inter", sans-serif;
}
main {
  font-family: "Inter", sans-serif;
}

img {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 5px solid black;
  margin: 10px;
}
