@media only screen and (min-width: 37.5em) {
  #navwrapper {
    margin: 0 auto;
    background-color: #f55355;
    padding: 0;
    max-width: 100%;
  }

  nav {
    position: unset;
    top: auto;
    right: auto;
    /*position: sticky;*/
  }
  .navigation {
    display: flex;
  }
  .navigation li {
    display: block; /* change state in small view */
    flex: 1 1 auto;
  }
  .navigation a {
    text-align: center;
  }
  .navigation li:first-child {
    display: none;
  }

  main {
    max-width: 700px;
    margin: auto;
  }

  footer {
    max-width: 700px;
    margin: auto;
  }
}
