@media only screen and (min-width: 60em) {
  #navwrapper {
    margin: 0 auto;
    background-color: #f55355;
    padding: 0;
    max-width: 100%;
  }

  nav {
    position: unset;
    top: auto;
    right: auto;
    position: sticky;
  }

  .navigation {
    display: flex;
  }
  .navigation li {
    display: block;
    flex: 1 1 auto;
  }
  .navigation a {
    text-align: center;
  }
  .navigation li:first-child {
    display: none;
  }

  main {
    max-width: 1100px;
    margin: auto;
  }

  footer {
    clear: both;
    max-width: 1100px;
    margin: auto;
  }
  #footertext {
    text-align: left;
  }

  #footercontainer {
    display: flex;
    justify-content: space-around;
  }

  #socialmedialinks {
    display: inline;
    float: right;
  }
}
